<header class="site-header">
  <div class="nav-container">
    <div class="nav-left">
      <a href="index.html" class="nav-logo">
        <img src="assets/images/favicon.ico" alt="Home" class="nav-logo-img">
      </a>
      <a href="https://docs.google.com/spreadsheets/d/1IDam2gGWEIlffuiz7hFEnLr96afkMVrCpL_0f3v8-wk/edit?gid=1208020569#gid=1208020569" class="nav-logo">
        Info
      </a>
    </div>

    <nav class="nav-links">
      <a href="rate.html" class="nav-link">Rate</a>
      <a href="ahof.html" class="nav-link">AHoF</a>
      <a href="clear-list.html" class="nav-link">Clears</a>
    </nav>
  </div>
</header>
